player-connection-mode=Listen
player-connection-guid=3709136150
player-connection-debug=1
player-connection-project-name=Capetalismo
player-connection-ip=192.168.0.236
player-connection-ip=192.168.122.1
player-connection-ip=172.17.0.1
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
wait-for-managed-debugger=0
managed-debugger-fixed-port=0
hdr-display-enabled=0
gc-max-time-slice=3
single-instance=
build-guid=31dd2c99d9394cc1b9c276bac2d3ec91
